*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 85%;
}

.contact__list {
  list-style-type: none;
}

.contact__a {
  text-decoration: none;
}

/* body {
  width: 100%;
  min-height: 100vh;
  font-family: "Source Sans Pro", sans-serif;
  background-color: #f0fafb;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.contact__container {
  position: relative;
  width: 26rem;
  height: 11.5rem;
  background-color: #fff;
  padding: 2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: height 0.4s ease-in;
  margin-top: 20%;
  border-radius: 20px;
  margin-left: 10%;
}

.contact__container.active {
  height: 35rem;
}

.contact__card {
  position: relative;
  display: flex;
  align-items: center;
}

.contact__card-img img {
  width: 90px;
  border-radius: 20px;
}

.contact__card .contact__name {
  font-size: 2.2rem;
  margin-left: 1.5rem;
  color: #222;
  letter-spacing: 2px;
}

.contact__card .contact__name span {
  font-size: 1.6rem;
  font-weight: 400;
  color: #777;
  letter-spacing: 0px;
}

.contact__container .contact__list {
  position: relative;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 1.5rem;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contact__container .contact__list .contact__a {
  font-size: 1.8rem;
  color: #444;
  transition: 0.2s;
}

.contact__container .fa {
  font-size: 2rem;
  margin-right: 1rem;
}

.contact__container .contact__list .contact__a:hover {
  color: #3edbf0;
}

.contact__toggle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 4rem;
  height: 4rem;
  background-color: #3edbf0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.contact__toggle > .fa {
  margin: auto;
  color: #fff;
  text-align: center;
  cursor: pointer;
  transition: 0.25s;
  font-size: 1.8rem;
}

.contact__container.active .contact__toggle > .fa {
  transform: rotate(-540deg);
}

@media screen and (max-width: 450px) {
  .contact__container {
    margin-top: 7.3rem;
  }
}
